<ion-header>
  <ion-toolbar>
    <ion-title>
      Poles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header>
      Your height {{height}} cm
    </ion-list-header>
    <ion-range min="100" max="250" [(ngModel)]="height" (ionChange)="calculate()">
      <ion-label slot="start">100</ion-label>
      <ion-label slot="end">250</ion-label>
    </ion-range>
  </ion-list>

  <ion-list>
    <ion-radio-group [(ngModel)]="factor" (ionChange)="calculate($event)">
      <ion-list-header>
        Select activity
      </ion-list-header>
      <ion-item>
        <ion-label>Classical style</ion-label>
        <ion-radio value="0.82" checked></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Free style</ion-label>
        <ion-radio value="0.89" checked></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Nordic walk</ion-label>
        <ion-radio value="0.68" checked></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <div class="ion-padding">
    <ion-label>Pole height is {{result | number : '1.0-0'}} cm</ion-label>
  </div>
</ion-content>